#header {
    background-color: #F4D6DE;
    border-radius: 20px;
    border: 10px dotted #D4A5B5;
    color: #925c70;}

#menu {
    margin: 10px;
    margin-top: 30px;
    float: left;
    padding-left: 10px;
    border: 1px solid #8FA6A3;
    width: 150px;
    height: 120px;
    background-color: #E6EFEF;}
#petlist {
    margin: auto;
    text-align: center;
    list-style-position: inside;
    background-color: #F4D6DE;
    border: 5px dotted #D4A5B5;
    width: 750px;
    }

body {
    background-color: pink;}

h1, h2, h3, p {
    text-align: center;}

h2 {
    color: #925c70;}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;}
